@{
    var list_cate = ViewData["list_cate"] as List<Web_congty.Modal.FW.Categories>;
}
<div class="modal fade" id="Modal_categoryys">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-cyan">
                <h5 class="card-title text-white  text-uppercase">Thể loại</h5>
                <span class="text-danger" data-dismiss="modal" aria-label="Close" aria-hidden="true"><i class="fa fa-times"></i></span>
            </div>
            <div class="QA_modal-body">
                <form id="QA_admin_Modal_work_form_slide" class="row">
                    <input type="hidden" id="Id_categoryy" value="0">
                    <div class="form-group col-12">
                        <label for="Name">Tên<code>*</code></label>
                        <input type="text" id="Name" class="form-control">
                    </div>
                    <div class="form-group col-12">
                        <label for="" >Danh mục</label>
                        <select class="form-control " id="id_categories">
                            @foreach (var item in list_cate.Where(x => x.C_status == true))
                            {
                                <option value="@item.Id" class="form-control">@item.C_name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="C_note">Ghi chú<code>*</code></label>
                        <input type="text" id="C_note" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-room justify-content-between d-inline-block black">
                <button type="submit" id="Save_categoryy" class="btn btn-xs btn-primary float-right mt-2 m-2"><i class="fa fa-save"></i> Lưu</button>
                <button class="btn btn-xs btn-danger float-right mt-2 m-2" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
            </div>
        </div>
    </div>
</div>