@{
    var list_fechback = ViewData["list_fechback"] as List<Web_congty.Modal.FW.FechBack_Cus>;
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="testimonial-box-carousel owl-carousel">
                @{
                    var so = 1;
                    var color = "";
                    foreach (var item in list_fechback)
                    {
                        switch (so)
                        {
                            case 1:
                                color = "bg-orange";
                                break;
                            case 2:
                                color = "bg-shrock";
                                break;
                            case 3:
                                color = "bg-yellow";
                                break;
                            case 4:
                                color = "bg-blue";
                                break;
                            case 5:
                                color = "bg-darkBlue";
                                break;
                            case 6:
                                color = "bg-pink";
                                break;
                            case 7:
                                color = "bg-cyan";
                                break;
                            default:
                                color = "bg-violet";
                                break;
                        }
                        <div class="tw-testimonial-box">
                            <div class="testimonial-bg testimonial-@color">
                                <div class="testimonial-icon">
                                    <img src="@item.F_image" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="testimonial-meta">
                                <h4>
                                    @item.F_name
                                    <small>@item.F_email</small>
                                </h4>
                            </div>
                            <div class="testimonial-text">
                                <p>@item.F_content</p>
                                <i class="icon icon-quote2"></i>
                            </div>
                        </div>
                        so++;
                    }
                }
            </div>
            <!-- Col end -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Carousel End -->
</div>
<!-- Container End -->