@{
    var list_service_maketting = ViewData["list_service_maketting"] as List<Web_congty.Modal.FW.Services>;
}
<div class="container">
    <div class="row wow fadeInRight">
        <div class="col-md-4">
            <h2 class="column-title text-md-right text-sm-center">Best Digital<br /> Marketing Services!</h2>
        </div>
        <!-- Col End -->
        <div class="col-md-7 ml-md-auto">
            <p class="features-text">
                Start working with an company that can provide everything you need to generate awareness, drive traffic, connect
                with customers, and increase sales montes,
                <br /> nascetur ridiculus mus.
            </p>
        </div>
        <!-- Col End -->
    </div>
    <!-- End Row 1 -->
    <div class="tw-mt-60"></div>
    <div class="row wow fadeInUp">
        @{
            foreach (var item in list_service_maketting)
            {
                <div class="col-lg-4 col-md-12 mb-3">
                    <div class="features-box">
                        <div class="features-icon d-table">
                            <div class="features-icon-inner d-table-cell">
                                <img src="@item.Services_image" alt="">
                            </div>
                        </div>
                        <h3>@item.Services_name</h3>
                        <p>@item.Services_title</p>
                        <a href="@item.Services_link" class="tw-readmore">
                            Read More
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- End Container -->