
<div class="analysis-bg-pattern d-none d-md-inline-block">
    <img class="wow fadeInUp" src="~/public/Client/images/check-seo/cloud.png" alt="">
    <img class="wow fadeInUp" src="/public/Client/images/check-seo/cloud2.png" alt="">
    <img class="wow fadeInUp" src="/public/Client/images/check-seo/announce.png" alt="">
    <img class="wow fadeInUp" src="/public/Client/images/check-seo/chart.png" alt="">
</div>
<!-- End Analysis Pattern img -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center wow fadeInDown">
            <h2 class="column-title">
                Mời đặt
                <span class="text-white">Câu hỏi</span>
            </h2>
            <div class="analysis-form">
                <form class="form-vertical" id="Form_question">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-12 no-padding">
                            <div class="form-group tw-form-round-shape">
                                <input type="url" id="cauhoi_cuaban" placeholder="Câu hỏi của bạn ?" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 no-padding">
                            <div class="form-group tw-form-round-shape">
                                <input type="email" id="email_cuaban" placeholder="Email liên hệ" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 no-padding">
                            <div class="form-group">
                                <input type="button" id="quetion_client_home" value="Gửi câu hỏi">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End container -->