
@{
    ViewBag.Title = "Về chúng tôi";
}


<div id="banner-area" class="banner-area" style="background-image:url(/public/Client/images/banner/banner5.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Quá trình hình thành và phát triển</h1>
                </div>
            </div>
        </div>
    </div>
</div>



<section id="tw-timeline" class="tw-timeline">
    <div class="container">
        <h2 class="column-title">Lịch sử công ty</h2>
        <span class="animate-border tw-mb-40 tw-mt-20"></span>
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-wrapper">
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-date active">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-badge active"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-date">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


