
@{
    ViewBag.Title = "Hỗ Trợ Khách Hàng";
}


<div id="banner-area" class="banner-area" style="background-image:url(/public/Client/images/banner/banner5.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-heading">
                    <h1 class="banner-title">Hỗ Trợ Khách Hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tw-about-bin">
                    <h2 class="column-title">About SeoBin</h2>
                    <span class="animate-border tw-mb-40 tw-mt-20"></span>
                    <p>
                        Start working with an company that can provide everything you need to generate awareness, drive traffic,
                        connect with customers, and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo,
                        fringilla vel, aliquet nec, vulputate eget, arcu
                    </p>
                    <p>
                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                        pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
                    </p>
                </div>
                <!-- About Bin End -->
            </div>
            <!-- Col End -->
            <div class="col-md-6 align-self-md-center">
                <img src="/public/client/images/about/about_page_img1.png" alt="" class="img-fluid">
            </div>
            <!-- Col End -->
        </div>
        <!-- Row end -->
    </div>
    <!-- Container end -->
</section>
<!-- Main container end -->


<section id="tw-mission" class="tw-mission">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mission-carousel owl-carousel">
                    <div class="row">
                        <div class="col-md-6 mr-auto align-self-md-center">
                            <img src="/public/client/images/about/our_mission.png" alt="" class="img-fluid">
                        </div>
                        <!-- Col End -->
                        <div class="col-md-6">
                            <div class="mission-body">
                                <div class="mission-title tw-mb-40">
                                    <h2 class="column-title">Our Mission</h2>
                                    <span class="animate-border bg-white border-orange tw-mt-30"></span>
                                </div>
                                <p>
                                    Start working with an company that can provide everything you need to generate awareness, drive traffic, connect with customers,
                                    and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
                                </p>
                            </div>
                        </div>
                        <!-- Col End -->
                    </div>
                    <!-- Content Row End -->
                    <div class="row">
                        <div class="col-md-6 mr-auto align-self-md-center">
                            <img src="images/about/our_mission.png" alt="" class="img-fluid">
                        </div>
                        <!-- Col End -->
                        <div class="col-md-6">
                            <div class="mission-body">
                                <div class="mission-title tw-mb-40">
                                    <h2 class="column-title">Our Mission</h2>
                                    <span class="animate-border bg-white border-orange tw-mt-30"></span>
                                </div>
                                <p>
                                    Start working with an company that can provide everything you need to generate awareness, drive traffic, connect with customers,
                                    and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
                                </p>
                            </div>
                        </div>
                        <!-- Col End -->
                    </div>
                    <!-- Content Row End -->
                    <div class="row animated fadeIn">
                        <div class="col-md-6 mr-auto align-self-md-center">
                            <img src="/public/client/images/about/our_mission.png" alt="" class="img-fluid">
                        </div>
                        <!-- Col End -->
                        <div class="col-md-6">
                            <div class="mission-body">
                                <div class="mission-title tw-mb-40">
                                    <h2 class="column-title">Our Mission</h2>
                                    <span class="animate-border bg-white border-orange tw-mt-30"></span>
                                </div>
                                <p>
                                    Start working with an company that can provide everything you need to generate awareness, drive traffic, connect with customers,
                                    and increase sales nascetur ridiculus mus. massa quis enim. Donec pede justo.
                                </p>
                            </div>
                        </div>
                        <!-- Col End -->
                    </div>
                    <!-- Content Row End -->
                </div>
                <!-- Mission Carousel End -->
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!-- Mission End -->


<section id="tw-timeline" class="tw-timeline">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-wrapper">
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-date active">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-badge active"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-date">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 timeline-item left-part">
                            <div class="timeline-badge"></div>
                            <div class="timeline-panel">
                                <p class="details">
                                    Our promising journey started on 08 February 2010 by Leonardo Decaprio, the CEO and Founder of
                                    the SeoBin
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 timeline-item ">
                            <div class="timeline-date left-part">
                                <p class="title">2010</p>
                                <p class="tagline">we are featured</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


